.contenedorItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    border: 1px solid #e3e1e1;
    margin: 3rem 20%;
    width: 60vw;
}

h2{
    color: goldenrod;
}

h3{
    color: goldenrod;
}

p{
    color:goldenrod;
    text-align: center;
    
}

img {
    width: 25vw;
}
